<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="libs/bootstrap.css">
<body ng-controller="myCtrl">
    <!--<ul ng-repeat="province in provinces">
        <li>
            {{province.name}}
            <ul>
                <li ng-repeat = "city in province.cities">
                    {{city.name}}
                </li>
            </ul>
        </li>
    </ul>-->

  <!--  <ul>
        <li ng-repeat="province in provinces">{{$index}}</li>
    </ul>-->
    
    <div class="panel-group container" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel {{$index == 0?'panel-default': ($index == 1?'panel-danger':'panel-primary')}}" ng-repeat="province in provinces">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                        {{province.name}}<span class="badge">{{$index+1}}</span>
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse {{$index == 0?'in':''}}" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" >
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat = "city in province.cities">{{city.name}}<span class="badge">{{$index+1}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="libs/jquery-1.11.3.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/angular.min.js" type="text/javascript"></script>
<script type="text/javascript">


    var app = angular.module("myApp",[]);
    app.controller("myCtrl",function($scope){//$scope 相当于js中的作用域
        var provinces = [
            {
                "name":"浙江",
                "cities":[
                    {"name":"金华"},
                    {"name":"杭州"},
                    {"name":"温州"}
                ]
            },
            {
                "name":"河南",
                "cities":[
                    {"name":"郑州"},
                    {"name":"开封"},
                    {"name":"焦作"}
                ]
            },
            {
                "name":"江苏",
                "cities":[
                    {"name":"南京"},
                    {"name":"苏州"},
                    {"name":"昆山"}
                ]
            }
        ];
        $scope.provinces = provinces;  //相当于赋初值
    })
</script>
</html>